
REST API ToDo Liste:

Ich möchte einen REST API haben, mit der ich ToDos speichern kann und diese wieder ausgeben kann. Dabei solltest du folgende Technologien verwenden:

nameko (https://www.nameko.io/)
nameko-sqlalchemy (https://github.com/nameko/nameko-sqlalchemy)
pytest


https://github.com/nameko/nameko-examples und die nameko Dokumentation sowie der Code sind vermutlich hilfreich. Die App kann super simpel sein, es geht nur darum zu sehen, wie du mit unbekannten Technologien umgehst, deinen Code dokumentierst und testest. Du brauchst uns deinen Code vorher nicht schicken, bring ihn dann einfach mit, wenn du zum Bewerbungsgespräch kommst und wir gehen das dann gemeinsam durch.
